.box-profile{
    width: 100%;
    top: 50%;
    /* transform: translateY(-50%); */
    /* left: 350px; */
    position: absolute;
    padding: 4% 11% 0% 6%;
    box-sizing: border-box;
    height: -webkit-fill-available;
  
}

.box-imagem{
    padding: 20px;
    width: 20%;
    float: left;
}

.circ-image{
    border-radius: 100px;
}

input[type='file'] {
    border: 0;

}

.cafe{
    width: 419px;
    float: left;
    position: relative;
}

.alinha{
    top: 3%;
}

@media  screen and (max-device-width: 1366px) {

    .cafe {
      width: 420px;
      height: 80px;
    
      float: left;
      position: relative;
    }
    
}

@media screen and (min-device-width: 1920px) {
    .cafe {
        width: 564px;
        height: 80px;
      
        float: left;
        position: relative;
    }

}